<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          <%= gameDetails.name %>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!--Image Carousel-->

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <!--For Loop creates indicator of carousel-->

          <ol class="carousel-indicators">
              <% for( let screenshot = 0; screenshot < gameScreenshots.results.length; screenshot++ ) { %>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%= screenshot %>" class="<%= screenshot == 0 ? "active" : "" %>"> </li>

            <% } %>
          </ol> 
        
          <!--For Loop laods images to the carousel-->
          <div class="carousel-inner">
            <% for( let screenshot = 0; screenshot < gameScreenshots.results.length; screenshot++ ) { %>
                
                <div class="carousel-item <%= screenshot == 0 ? "active" : "" %> ">
                  <img id="screenshots" class="d-block w-100" src="<%= gameScreenshots.results[screenshot].image %>" alt="Screenshot" />
                </div>

            <% } %>
        </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <!-- Ratings -->
        <br />
        <!--add thumbs here-->
       
        <br />
     
        <h6>Description:</h6>
        <%- gameDetails.description %>
       
      </div>
    </div>
  </div>
</div>
