<%- include("partials/header.ejs") %>

<main class="container-fluid ">
  <br>
  <h1 class="text-center">Game Rate</h1>
  <br>
  <%- include("partials/form.ejs") %>
  <br />
  <h2 class="text-center">Top Rated</h2>
  <br>
  <div class="card-columns">
    <!-- for loop to build cards-->
    <% gamesArray.forEach(function (game){ %>
      <div class="card">
        <img
          class="card-img-top gameImg"
          src="<%= game.background_image %>"
          alt="Screenshot"
        />
        <p class="card-body">
          <h5 id="name" class="card-title"><%= game.name %></h5>
            
            <!--body text here-->
          <div class="card-text">
            <h6 class="d-inline">Metacritic Score: </h6><%= game.metacritic == null ? "N/A" : game.metacritic %> <br>
            <h6 class="d-inline">Avg. User Ratings: </h6><%= game.rating %> <br>

            <!-- Game platform  -->
            <h6>Platforms:</h6>
            <ul>
              <% game.platforms.forEach(function (platform){ %>
                <li><%= platform.platform.name %></li>
              <% }); %>
            </ul>
          </div>
        </p>
       
        <!--Bottom row (button and thumbs)-->
        <div class="row card-bottom">

          <div class="col-8 ">
            <button id="<%= game.id %>" type="button" class="btn btn-info details-btn"> More </button>
          </div>
      
          <!--thumbs are here-->
            <div class="thumb-container col-4 text-center">
              
              <i class="fas fa-thumbs-up thumb
              <!--checks database game data for matching id and rating fills color if conditions are met-->
              <% dbGameDetails.forEach(element => { %>
              <% let rating = element.gameID == game.id ? element.rating : ""%>
              <%- rating == "thumbs-up" ? "green" : "" %>  
              <% }) %> "></i>


              <i class="fas fa-thumbs-down thumb

              <% dbGameDetails.forEach(element => { %>
                <% let rating = element.gameID == game.id ? element.rating : ""%>
                <%- rating == "thumbs-down" ? "red" : "" %>  
              <% }) %> "></i>
              <!--stores data for updating rating in backend-->
              <div id="<%= game.id %>" class="<%= game.name %>" src="<%= game.background_image %>"  ></div>
            </div>
          </div>
        </div>
      </div>
    <% }); %> <!-- end four loop-->
  </div>
  <!--used to render details modal-->
  <div id="details"></div>
</main>

<%- include("partials/footer.ejs") %>
