<%- include("partials/header.ejs") %>
<main class="container-fluid ">
    <div id="gameDetails"><%- gameDetails.JSON %></div>
   <% gameDetails.forEach((game) =>{ %>
  <div id="<%= game.id %>" class="card ratings" style="width: 18rem;">
    <img
      class="card-img-top"
      src="<%= game.background_image %>"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title"><%= game.name %></h5>
      <i id="thumbs-up" class="fas fa-thumbs-up thumb"></i>
      <i id="thumbs-down" class="fas fa-thumbs-down thumb"></i>
    </div>
  </div>
  <% }) %>
</main>
<%- include("partials/footer.ejs") %>
