<%- include("partials/header.ejs") %>
<main class="container-fluid justify-content-center">
  <br />
  <div class="container-fluid card-columns text-center">
    <% gameDetails.forEach((game) =>{ %>
    <div id="<%= game.gameID %>" class="card ratings" style="width: 18rem;">
      <img
        class="card-img-top"
        src="<%= game.imageUrl %>"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title"><%= game.title %></h5>
        <br />
        <div class="text-center">
        
          <i id="thumbs-up" class="fas fa-thumbs-up thumb"></i>
          <i id="thumbs-down" class="fas fa-thumbs-down thumb"></i>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</main>
<%- include("partials/footer.ejs") %>
