<%- include("partials/header.ejs") %>

<main class="container-fluid justify-content-center">
  <br />
  <h1 class="text-center">Ratings</h1>  
  <h2 class="text-center">Thumbs Up</h2> 
  <br>
  <div id="thumbs-up-div" class="container-fluid card-columns text-center">
    <% dbThumbsUp.forEach((game) =>{ %>
      <div class="card ratings" style="width: 18rem;">
        <img
          class="card-img-top"
          src="<%= game.imageUrl %>"
          alt="Card image cap"
        />
        <div class="card-body">
          <h3 class="card-title"><%= game.name %></h3>
          <br />
          <div class="text-center">
            <!--thumb ratings are updated from data from db-->
            <i class="fas fa-thumbs-up thumb <%- game.rating == "thumbs-up" ? "green" : "" %>"></i>
            <i class="fas fa-thumbs-down thumb <%- game.rating == "thumbs-down" ? "red" : "" %>"></i>
            <!--stores data for updating rating in db-->
            <div id="placeholder" style="display: none">
              { "gameID": "<%= game.gameID %>", 
                "name": "<%- game.name %>", 
                "imageUrl": "<%- game.imageUrl %>"  }
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  <br>
  <h2 class="text-center">Thumbs Down</h2>
  <br>
  <div id="thumbs-down-div" class="container-fluid card-columns text-center">
    <% dbThumbsDown.forEach((game) =>{ %>
      <div class="card ratings" style="width: 18rem;">
        <img
          class="card-img-top"
          src="<%= game.imageUrl %>"
          alt="Card image cap"
        />
        <div class="card-body">
          <h3 class="card-title"><%= game.name %></h3>
          <br />
          <div class="text-center">
            <!--thumb ratings are updated from data from db-->
            <i class="fas fa-thumbs-up thumb <%- game.rating == "thumbs-up" ? "green" : "" %>"></i>
            <i class="fas fa-thumbs-down thumb <%- game.rating == "thumbs-down" ? "red" : "" %>"></i>
            <!--stores data for updating rating in db-->
            <div id="placeholder" style="display: none">
              { "gameID": "<%= game.gameID %>", 
                "name": "<%- game.name %>", 
                "imageUrl": "<%- game.imageUrl %>"  }
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>

  <%- include("partials/scroll-buttons.ejs")  %> 
  
</main>
<%- include("partials/footer.ejs") %>
