<%- include("partials/header.ejs") %>
<body>
  <main>
    <h1>Video Game Search</h1>
    <form action="/search">
      <input type="text" placeholder="Search video games" name="keyword" />
      <br /><br />
      <button>Search</button>
    </form>
    <br />
    <% gamesArray.forEach(function (game){ %>
    <div>
      <img
        id="<%= game.id %>"
        class="gameImg"
        src="<%= game.background_image %>"
        width="355"
        height="200"
      />

      <p><%= game.name %></p>

      <% game.platforms.forEach(function (platform){ %>
      <p><%= platform.platform.name %></p>
      <% }); %>
    </div>
    <% }); %>
  </main>
  <%- include("partials/footer.ejs") %>
</body>
