<%- include("partials/header.ejs") %>
<main>
  <h1>Video Game Search</h1>
  <form action="/search">
    <input type="text" placeholder="Search video games" name="keyword" />
    <br /><br />
    <button>Search</button>
  </form>
  <br />
  <div class="card-deck">
    <% gamesArray.forEach(function (game){ %>
    <div class="card">
      <img
        id="<%= game.id %>"
        class="card-img-top gameImg"
        src="<%= game.background_image %>"
      />
      <div class="card-body">
        <h5 class="card-title"><%= game.name %></h5>
        <p class="card-text">
          <!-- Game platform  -->
          <h6>Platforms:</h6>
          <ul>
          <% game.platforms.forEach(function (platform){ %>
            <li><%= platform.platform.name %></li>
            <% }); %>
        </p>
      </ul>
      </div>
    </div>

    <% }); %>
  </div>
  <div id="details"></div>
</main>
<%- include("partials/footer.ejs") %>
