<%- include("partials/header.ejs") %>

<main class="container-fluid ">
  <br>
  <h1 class="text-center">Game Rate</h1>
  <br>
  <%- include("partials/form.ejs") %>
  <br />
  <h2 class="text-center">Results</h2>
  <br>
  
  <!--Cards partial-->
<%- include("partials/cards.ejs") %> 

  <!--used to render details modal-->
  <div id="details"></div>
  <%- include("partials/scroll-buttons.ejs")  %> 
</main>

<%- include("partials/footer.ejs") %>
